  </main>
  <footer class="footer">
    <div class="container footer-grid">
      <div>
        <div class="logo small">Ziane Auto</div>
        <p><%= t.footer.about %></p>
      </div>
      <div>
        <h4><%= t.footer.visit %></h4>
        <p>Ain Touta, Batna, Algeria</p>
        <p><%= t.footer.hours %></p>
      </div>
      <div>
        <h4><%= t.footer.contact %></h4>
        <p class="ltr">+213 791 92 13 89</p>
        <p class="ltr">contact@zianeauto.dz</p>
      </div>
    </div>
  </footer>
</body>
</html>
